.follow-up {
    width: 320px;
    height: 568px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    &__title {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 30px;
    }

    &__label {
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 21px;
        display: block;
    }

    &__nav {
        display: flex;
        justify-content: right;
        margin-top: 105px;
    }

    &__select {
        padding-left: 12px;
        appearance: none;
        border-radius: 5px;
        background-image: url(../../images/chevron-down.svg);
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px;
        width: 280px;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        padding-top: 6px;
        padding-bottom: 6px;

        border: 2px solid $color-secondary;

        option {
            font-size: 14px;
            font-weight: 500;
        }
    }

}