.home {

    grid-column: col-start 4 / col-end 5;
    padding-block-start: 4rem;
    display: grid;
    grid-template-rows: 5rem 3rem 5rem 4rem 3rem;

    .btn-from-link {
        align-self: flex-start;
        justify-self: flex-end;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-weight: 500;
    }
}