.home {

    grid-column: col-start 4 / col-end 5;
    padding-block-start: 4rem;
    display: grid;
    grid-template-rows: minmax(5rem, max-content) minmax(3rem, max-content) 5rem 4rem minmax(3rem, max-content);

    .btn-from-link {
        align-self: flex-start;
        justify-self: flex-end;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-weight: 500;
    }
}