.upcoming {
    grid-column: col-start 4 / col-end 5;
    padding-block-start: 4rem;

    display: grid;
    grid-template-rows: minmax(5rem, max-content);

    .btn-from-link {
        align-self: center;
        justify-self: flex-start;
        margin: 1rem 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .btn-from-button {
        justify-self: end;
        align-self: center;
        font-size: 1rem;
    }

    .details-button {
        margin-bottom: 1rem;
    }
}

.accordion {
    // padding: 1rem 0;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 4rem 4rem 5rem min-content;

    &__date,
    &__time,
    .btn-from-button {
        align-self: center;
    }


}