.upcoming {
    width: 320px;
    height: 568px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    &__title {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 30px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 21px;
    }

    .btn-red {
        margin-left: auto;
    }

    .divider-line {
        margin-top: 11px;
        margin-bottom: 16px;
    }

    .btn-grey {
        margin-top: 21px;
    }
}

.accordion {
    font-size: 18px;
    font-weight: 400;
    display: grid;
    grid-template-rows: 40px 40px 50px min-content;

    &__date,
    &__time,
    .btn-from-button {
        align-self: center;
    }
}