//divider line
.line-between {
    height: 2px;
    background: black;
    margin: 1rem 0;
}

.btn-from-link {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: .9em 2em;
    text-decoration: none;
    border-radius: .5em;
    letter-spacing: 1px;
    font-weight: 700;
    display: inline-block;
}

.btn-red {
    background-color: $color-primary;

    &:hover {
        background-color: darken($color-primary, 10%);
    }
}

.btn-grey {
    background-color: $color-secondary;
    color: #000;

    &:hover {
        background-color: darken($color-secondary, 5%);
    }
}

.btn-from-button {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: .9em 2em;
    border-radius: .5em;
    letter-spacing: 1px;
    font-weight: 700;

    border: none;
    cursor: pointer;
}

.modal-background {
    position: fixed;
    background: rgba(78, 78, 78, 0.85);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-content-container {
    position: fixed;
    background-color: #c4c4c4;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;
    width: 20rem;
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 5px;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);

    p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

    }


}